/* 
Dark theme is supported on:
- Chrome/Edge 76
- Firefox 67
- Safari 12.1 (Including iOS)
*/

/* Light Theme*/
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #313031;
        color: white;
    }
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

